.header {
    grid-area: h;
    background-color: #05634b;
    margin-bottom: 2px;
}

.header img {
    width: 40px;
}

.loginBlock {
    float: right;
    padding-right: 30px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}

.loader {

}

.profilePhoto {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding-top: 10px;
}
